.casa {
    text-align: center;
    width: 50px;
    height: 50px;
    background: white;
    display: inline-block;
    padding: 40px;
    text-align: center;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: white;
}
#fundo {
    background-color: black;
    margin-left: 450px;
    margin-right: 450px;
}
#img {
    border-style:  solid;
    border-color: blue;
}
#img2 {
    border-style: solid;
    border-color: red;
}
#vs {
    text-align: center;
    font-size: 30px;
}
.blue {
    font-size: 35px;
    color: blue;
    text-align: center;
}
.red {
    font-size: 35px;
    color: red;
    text-align: center;
}
#lados {
    font-size: 30px;
    text-align: center;
    padding: 14px 14px 14px 14px;
    background-color: darkcyan;
    margin-left: 500px;
    margin-right: 500px;
    border-style: solid;
    border-color: black;
}
.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}
button {
    margin-top: 10px;
    width: 10%;
    height: 30px;
    background: #eee;
    cursor: pointer;
}
/* daqui para cima faz parte do js */

.blocox{
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.jogo{
    width: 160px;
    height: 160px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
 
.jogo:nth-child(1), .jogo:nth-child(2), .jogo:nth-child(3) {
    border-top: none;
} /*seleciona elementos especificos dentro da div*/
.jogo:nth-child(1), .jogo:nth-child(4), .jogo:nth-child(7) {
    border-left: none;
} /*seleciona elementos especificos dentro da div*/
.jogo:nth-child(7), .jogo:nth-child(8), .jogo:nth-child(9) {
    border-bottom: none;
} /*seleciona elementos especificos dentro da div*/
.jogo:nth-child(3), .jogo:nth-child(6), .jogo:nth-child(9) {
    border-right: none;
} /*seleciona elementos especificos dentro da div*/

/*barra de navegação*/
html{
    scroll-behavior: smooth;
}

body{
    background: #262626;
    background-image:url("https://img.freepik.com/fotos-gratis/tela-vazia-branca_1194-7555.jpg");

}

.container{
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

.container section{
    position: relative;
    width: 100%; height: 100vh;
    line-height: 100vh;
}

.container section:nth-of-type(2n+1){
    background: #fcfbf9;
}

.container section:nth-of-type(2n){
    background: #f8f6f1;
}

.container section h1{
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
}

.container ul{
    position: fixed;
    top: 0; 
    left: 0;
    background: #262626;
    margin-top: -1px;
    padding-top: 10px;
    width: 100%; 
    height: 35px;
    z-index: 10;
}

.container ul li{
    list-style: none;
    width: calc(100% / 5);
    float: left;
}

.container ul li a{
    display: inline-block;
    width: 100%; height: 100%;
    text-align: center; line-height: 60%;
    text-decoration: none; text-transform: uppercase;
    color: #fff;
}
.container ul li a:hover{
    background: #ff5722;
    height: 18px;
    padding-top: 5px;
}
.casa:nth-child(1), .casa:nth-child(2), .casa:nth-child(3){
    border-top: none;
} 

.botao1{
    width: 30vh;
    height: 30vh;
    background-image: url(Luis\ XVI.jpg);
    background-repeat: no-repeat;
}

.botao2{
    width: 30vh;
    height: 30vh;
    background-image: url(Maria\ Antonieta.jpg);
    background-position: 45%;
    background-repeat: no-repeat;
}

.botao3{
    width: 30vh;
    height: 30vh;
    background-image: url(Robespierre.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
}

.botao4{
    width: 30vh;
    height: 30vh;
    background-image: url(Danton.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
}
