@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;
  background-color: plum;
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  margin: 2px;
  transition: transform .2s ease;
  cursor: pointer;
}

.container {
  width: 490px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: fixed;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  position: absolute;
}

#item-1:checked ~ .cards #song-18, 
#item-2:checked ~ .cards #song-1, 
#item-3:checked ~ .cards #song-2, 
#item-4:checked ~ .cards #song-3,
#item-5:checked ~ .cards #song-4,
#item-6:checked ~ .cards #song-5,
#item-7:checked ~ .cards #song-6,
#item-8:checked ~ .cards #song-7,
#item-9:checked ~ .cards #song-8,
#item-10:checked ~ .cards #song-9,
#item-11:checked ~ .cards #song-10,
#item-12:checked ~ .cards #song-11,
#item-13:checked ~ .cards #song-12,
#item-14:checked ~ .cards #song-13,
#item-15:checked ~ .cards #song-14,
#item-16:checked ~ .cards #song-15,
#item-17:checked ~ .cards #song-16,
#item-18:checked ~ .cards #song-17 {
  transform: translatex(-50%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, 
#item-2:checked ~ .cards #song-3, 
#item-3:checked ~ .cards #song-4, 
#item-4:checked ~ .cards #song-5,
#item-5:checked ~ .cards #song-6,
#item-6:checked ~ .cards #song-7, 
#item-7:checked ~ .cards #song-8, 
#item-8:checked ~ .cards #song-9, 
#item-9:checked ~ .cards #song-10, 
#item-10:checked ~ .cards #song-11, 
#item-11:checked ~ .cards #song-12, 
#item-12:checked ~ .cards #song-13, 
#item-13:checked ~ .cards #song-14, 
#item-14:checked ~ .cards #song-15, 
#item-15:checked ~ .cards #song-16, 
#item-16:checked ~ .cards #song-17, 
#item-17:checked ~ .cards #song-18, 
#item-18:checked ~ .cards #song-1 {
  transform: translatex(50%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, 
#item-2:checked ~ .cards #song-2, 
#item-3:checked ~ .cards #song-3, 
#item-4:checked ~ .cards #song-4,
#item-5:checked ~ .cards #song-5,
#item-6:checked ~ .cards #song-6,
#item-7:checked ~ .cards #song-7,
#item-8:checked ~ .cards #song-8,
#item-9:checked ~ .cards #song-9,
#item-10:checked ~ .cards #song-10,
#item-11:checked ~ .cards #song-11,
#item-12:checked ~ .cards #song-12,
#item-13:checked ~ .cards #song-13,
#item-14:checked ~ .cards #song-14,
#item-15:checked ~ .cards #song-15,
#item-16:checked ~ .cards #song-16,
#item-17:checked ~ .cards #song-17,
#item-18:checked ~ .cards #song-18 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
}
/*barra de navegação*/
html{
    scroll-behavior: smooth;
}

body{
    background: #262626;
    background-image:url("https://img.freepik.com/fotos-gratis/tela-vazia-branca_1194-7555.jpg");

}

.container{
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

.container section{
    position: relative;
    width: 100%; height: 100vh;
    line-height: 100vh;
}

.container section:nth-of-type(2n+1){
    background: #fcfbf9;
}

.container section:nth-of-type(2n){
    background: #f8f6f1;
}

.container section h1{
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
}

.container ul{
    position: fixed;
    top: 0; 
    left: 0;
    background: #262626;
    margin-top: -1px;
    padding-top: 10px;
    width: 100%; 
    height: 35px;
    z-index: 10;
}

.container ul li{
    list-style: none;
    width: calc(100% / 5);
    float: left;
}

.container ul li a{
    display: inline-block;
    width: 100%; height: 100%;
    text-align: center; line-height: 60%;
    text-decoration: none; text-transform: uppercase;
    color: #fff;
}
.container ul li a:hover{
    background: #ff5722;
    height: 18px;
    padding-top: 5px;
}
