.blocox{
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.jogo{
    width: 160px;
    height: 160px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
 
.jogo:nth-child(1), .jogo:nth-child(2), .jogo:nth-child(3) {
    border-top: none;
} /*seleciona elementos especificos dentro da div*/
.jogo:nth-child(1), .jogo:nth-child(4), .jogo:nth-child(7) {
    border-left: none;
} /*seleciona elementos especificos dentro da div*/
.jogo:nth-child(7), .jogo:nth-child(8), .jogo:nth-child(9) {
    border-bottom: none;
} /*seleciona elementos especificos dentro da div*/
.jogo:nth-child(3), .jogo:nth-child(6), .jogo:nth-child(9) {
    border-right: none;
} /*seleciona elementos especificos dentro da div*/

/*barra de navegação*/
html{
    scroll-behavior: smooth;
}

body{
    background: #262626;
}

.container{
    position: relative;
    width: 100%;
}

.container section{
    position: relative;
    width: 100%; height: 100vh;
    line-height: 100vh;
}

.container section:nth-of-type(2n+1){
    background: #fcfbf9;
}

.container section:nth-of-type(2n){
    background: #f8f6f1;
}

.container section h1{
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
}

.container ul{
    position: fixed;
    top: 0; left: 0;
    background: #262626;
    width: 100%; height: 35px;
    z-index: 10;
}

.container ul li{
    list-style: none;
    width: calc(100% / 5);
    float: left;
}

.container ul li a{
    display: inline-block;
    width: 100%; height: 100%;
    text-align: center; line-height: 60%;
    text-decoration: none; text-transform: uppercase;
    color: #fff;
}
.container ul li a:hover{
    background: #ff5722;
}

body{
    background-image:url("https://img.freepik.com/fotos-gratis/tela-vazia-branca_1194-7555.jpg");
    }

#linha-vertical{
    border-left: 7px solid blue;
    height: 94%;
    position:absolute;
    left: 56%;
}

#linha-vertical2{
    border-left: 7px solid blue;
    height: 94%;
    position:absolute;
    right: 58.5%;
}

#linha-horizontal {
    border: 4px solid blue;
    width: 45%;
    position: relative;
    right: 1%;
    top: 195px;
}

#linha-horizontal2 {
    border: 4px solid blue;
    width: 45%;
    position: relative;
    right: 1%;
    top: 390px;
}
