.blocox{
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.jogo{
    width: 160px;
    height: 160px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
 

/*barra de navegação*/
html{
    scroll-behavior: smooth;
}

body{
    background: #262626;
    background-image:url("https://img.freepik.com/fotos-gratis/tela-vazia-branca_1194-7555.jpg");

}

.container{
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

.container section{
    position: relative;
    width: 100%; height: 100vh;
    line-height: 100vh;
}

.container section:nth-of-type(2n+1){
    background: #fcfbf9;
}

.container section:nth-of-type(2n){
    background: #f8f6f1;
}

.container section h1{
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
}

.container ul{
    position: fixed;
    top: 0; 
    left: 0;
    background: #262626;
    margin-top: -1px;
    padding-top: 10px;
    width: 100%; 
    height: 35px;
    z-index: 10;
}

.container ul li{
    list-style: none;
    width: calc(100% / 5);
    float: left;
}

.container ul li a{
    display: inline-block;
    width: 100%; height: 100%;
    text-align: center; line-height: 60%;
    text-decoration: none; text-transform: uppercase;
    color: #fff;
}
.container ul li a:hover{
    background: #ff5722;
    height: 18px;
    padding-top: 5px;
}

